<<- $c := .Content ->>
\entryhead{<< mk (str $c "role") >>}{<< mk (str $c "organization") >>}{\textbf{<< mk (str $c "dates") >>}}%
<<- if has $c "project" >>
\noindent{\fontsize{9.5}{10.5}\selectfont\textbf{<< if has $c "projectUrl" >>\href{<< href (str $c "projectUrl") >>}{<< mk (str $c "project") >>}<< else >><< mk (str $c "project") >><< end >>}}
\hfill \textit{<< mk (str $c "stack") >>}\par
<<- end >>
\begin{itemize}[labelindent=10pt, leftmargin=25pt, labelsep=5pt, topsep=0pt, itemsep=0pt]
<<- range rows $c "bullets" >>
  \item << if has . "label" >>\textbf{<< tex (str . "label") >>}\enspace << end >><< mkn (str . "text") >>
<<- end >>
\end{itemize}%
